<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.vonloesch.pdf4eclipse.editors.PDFEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="pdf"
            icon="icons/document-pdf.png"
            id="de.vonloesch.pdf4eclipse.editors.PDFEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="de.vonloesch.pdf4Eclipse.category"
            defaultHandler="de.vonloesch.pdf4eclipse.editors.handlers.ForwardSearchHandler"
            description="%command.description"
            helpContextId="de.vonloesch.pdf4eclipse.forwardSearch"
            id="PDFViewer.command.forwardSearchAction"
            name="%command.name">
      </command>
      <command
            categoryId="de.vonloesch.pdf4Eclipse.category"
            defaultHandler="de.vonloesch.pdf4eclipse.editors.handlers.ZoomHandler"
            description="%command.description.0"
            id="PDFViewer.command.Zoom"
            name="%command.name.0">
         <commandParameter
               id="PDFViewer.command.parameter.zoom"
               name="%commandParameter.name"
               optional="false">
         </commandParameter>
      </command>
      <command
            categoryId="de.vonloesch.pdf4Eclipse.category"
            defaultHandler="de.vonloesch.pdf4eclipse.editors.handlers.ToggleLinkHighlightHandler"
            helpContextId="de.vonloesch.pdf4eclipse.annotationsToggle"
            id="PDFViewer.command.ToggleLinkHighlight"
            name="%command.name.1">
         <state
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
               <parameter
                     name="default"
                     value="true">
               </parameter>
            </class>
         </state>
      </command>
      <category
            id="de.vonloesch.pdf4Eclipse.category"
            name="Pdf4Eclipse">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="PDFViewer.command.forwardSearchAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+F">
      </key>
      <key
            commandId="PDFViewer.command.Zoom"
            contextId="PDFViewer.editors.contextid"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="+">
         <parameter
               id="PDFViewer.command.parameter.zoom"
               value="+0.1">
         </parameter>
      </key>
      <key
            commandId="PDFViewer.command.Zoom"
            contextId="PDFViewer.editors.contextid"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="-">
         <parameter
               id="PDFViewer.command.parameter.zoom"
               value="-0.1">
         </parameter>
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="PDFViewer.command.forwardSearchAction"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="PDFViewer.toolbar">
            <command
                  commandId="PDFViewer.command.Zoom"
                  icon="icons/magnifier--minus.png"
                  style="push"
                  tooltip="%command.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="PDFViewer.command.parameter.zoom"
                     value="-0.1">
               </parameter>
            </command>
            <command
                  commandId="PDFViewer.command.Zoom"
                  icon="icons/arrow-move.png"
                  style="toggle"
                  tooltip="%command.tooltip.0">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="PDFViewer.command.parameter.zoom"
                     value="fit">
               </parameter>
            </command>
            <command
                  commandId="PDFViewer.command.Zoom"
                  icon="icons/arrow-resize.png"
                  style="toggle"
                  tooltip="%command.tooltip.1">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="PDFViewer.command.parameter.zoom"
                     value="fitH">
               </parameter>
            </command>
            <command
                  commandId="PDFViewer.command.Zoom"
                  icon="icons/magnifier--plus.png"
                  style="push"
                  tooltip="%command.tooltip.2">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
               <parameter
                     name="PDFViewer.command.parameter.zoom"
                     value="+0.1">
               </parameter>
            </command>
            <command
                  commandId="PDFViewer.command.ToggleLinkHighlight"
                  icon="icons/chain--pencil.png"
                  style="toggle"
                  tooltip="%command.tooltip.3">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="PDFViewer.definitions.isPDFEditorActive">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="PDFViewer.definitions.isPDFEditorActive">
         <with
               variable="activeEditorId">
            <equals
                  value="de.vonloesch.pdf4eclipse.editors.PDFEditor">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="PDFViewer.editors.contextid"
            name="%context.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.vonloesch.pdf4eclipse.preferences.MainPreferencePage"
            id="de.vonloesch.pdf4eclipse.preferences.MainPreferencePage"
            name="Pdf4Eclipse">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.vonloesch.pdf4eclipse.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
